#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	$(MAKE) -f Maemakefile

override_dh_auto_install:
	$(MAKE) -f Maemakefile install_hildon


.PHONY: override_dh_auto_build override_dh_auto_install

